<div class="container" id="htmlData">
  
      <table class="table">
   
        <tbody>
          <tr>
            <!-- <th scope="row">1</th> -->
            <td>Policy Holder Name</td>
            <td>Aishwary</td>
            <!-- <td>@mdo</td> -->
          </tr>
          <tr>
            <!-- <th scope="row">2</th> -->
            <td>Policy Number </td>
            <td>Thornton</td>
            <!-- <td>@fat</td> -->
          </tr>
           <tr>
            <!-- <th scope="row">3</th> -->
            <td>Estimated Amount</td>
            <td>the Bird</td>
            <!-- <td>@twitter</td>  -->
          </tr> 
          <tr >
              <td colspan="2">

                  <button type="button" id="btn" class="btn btn-secondary btn-block" (click)="openPDF()">Download PDF</button>
              </td>

          </tr>
        </tbody>
        <!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button> -->
      </table>
    

    </div>

 
